html, body {
    margin: 0;
    background-color: rgb(3, 107, 34);
    color: white;
}

.titulo {
    background-color: black;
    color: white;
    text-align: center;
    padding: 20px;
    font-size: 25px;
}

.carta {
    position: relative;
    width: 150px;
    left: 100px;
    margin-left: -75px;
}

#computadora-cartas, #jugador-cartas {
    height: 230px;
}